{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<div class="flex justify-center items-center ">
		<div class="max-w-md w-full p-6 rounded-lg shadow-md">
		            <h1 class="text-4xl m-6">Modifier profile</h1>

			{{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}
		</div>
	</div>
{% endblock %}
