{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}
	<div class="flex flex-col justify-between items-center mx-auto ">
		<div class="flex justify-center items-center text-blue rounded-lg shadow-md">
			<div class="bg-blue-100 p-6 rounded-lg">
				<h1 class="text-4xl mb-6">Choisir une Startup</h1>
				{{ form_start(companyForm) }}
				{{ form_row(companyForm.startup) }}
				{{ form_end(companyForm) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		document.addEventListener( 'DOMContentLoaded', function () {





const selects = document.getElementsByClassName( 'form-select' );
Array.from( selects ).forEach( select => {





select.addEventListener( 'change', function () {





const selectedCompanyId = this.value;
// Redirect to the company page using the selected company ID
window.location.href = `/company/${ selectedCompanyId }`;





} );





} );





} );
	</script>
{% endblock %}
