{{ form_start(form) }}
                    {{ form_row(form.fullname, {'attr': {'class': 'mb-4 w-full px-4 py-2 border rounded'}}) }}
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded w-full">Enregistrer</button>
{{ form_end(form) }}
