{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <div class="flex justify-center items-center text-blue">
        <div class="max-w-md w-full p-6 rounded-lg shadow-md">
            <h1 class="text-4xl mb-6">ajoute un contact</h1>

            {{ include('contact/_form.html.twig', {
                'form': form,
                'form_attr': {'class': 'w-full'}
            }) }}

            <a href="{{ path('app_contact_index') }}" class="text-blue hover:underline">Back to list</a>
        </div>
    </div>
{% endblock %}
