{% extends 'base.html.twig' %}

{% block title %}Startup modification
{% endblock %}

{% block body %}
	<div class="flex justify-center items-center">
		<div class="max-w-md w-full p-6 rounded-lg shadow-md">
			<h1 class="text-4xl mb-6 text-blue font-semibold">Modifer les infos</h1>
			{{ include('company/_form.html.twig', {'button_label': 'Update'}) }}
		</div>
	</div>
{% endblock %}
