{% extends 'base.html.twig' %}

{% block title %}Nouvelle startup
{% endblock %}
{% block body %}
    <div class="flex justify-center items-center ">
        <div class="max-w-md w-full  p-6 rounded-lg shadow-md">
            <h1 class="text-4xl mb-6 text-blue font-semibold">Ajouter une startup</h1>

            {{ include('company/_form.html.twig', {
                'form': form,
                'form_attr': {'class': 'w-full'}
            }) }}

            <a href="{{ path('app_contact_index') }}" class="text-blue-500 hover:underline">Back to list</a>
        </div>
    </div>
{% endblock %}
